# Node modules
node_modules/

# Data
data/

# Logs
*.log
logs/

# Environment variables
.env

# Test coverage
.nyc_output/
coverage/

# System files
.DS_Store

# Documentation
docs/database.md
docs/model.md

# Package manager
package-lock.json